<!DOCTYPE html>
<html>
  <head>
    <title>Create a Superhero Team</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action='/team' method="POST">
      <h3>Team Name: <input type="text" name="team_name"></h3>
      <h3>Team Motto: <input type="text" name="team_motto"></h3>
      <br>
      
      <h2>Hero 1</h2>
      <h3>Hero's Name: <input id="hero_name_1" type="text" name="name"></h3>
      <h3>Hero's Power: <input id="hero_power_1" type="text" name="power"></h3>
      <h3>Hero's Biography: <input id="hero_bio_1" type="text" name="bio"></h3>
      
      <h2>Hero 2</h2>
      <h3>Hero's Name: <input id="hero_name_2" type="text" name="name"></h3>
      <h3>Hero's Power: <input id="hero_power_2" type="text" name="power"></h3>
      <h3>Hero's Biography: <input id="hero_bio_2" type="text" name="bio"></h3>
      
      <h2>Hero 3</h2>
      <h3>Hero's Name: <input id="hero_name_3" type="text" name="name"></h3>
      <h3>Hero's Power: <input id="hero_power_3" type="text" name="power"></h3>
      <h3>Hero's Biography: <input id="hero_bio_3" type="text" name="bio"></h3>
      <br>
      <input type="submit">
    </form>
    
  </body>
</html>
