<!DOCTYPE html>
<html>
  <head>
    <title>Create a Superhero Team</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action='/team' method="POST">
      <h3>Team Name: <input type="text" name="team_name"></h3>
      <h3>Team Motto: <input type="text" name="team_motto"></h3>
      <br>
      
      <h2>Hero 1</h2>
      <h3>Hero's Name: <input type="text" name="hero_name_1"></h3>
      <h3>Hero's Power: <input type="text" name="hero_power_1"></h3>
      <h3>Hero's Biography: <input type="text" name="hero_biography_1"></h3>
      
      <h2>Hero 2</h2>
      <h3>Hero's Name: <input type="text" name="hero_name_2"></h3>
      <h3>Hero's Power: <input type="text" name="hero_power_2"></h3>
      <h3>Hero's Biography: <input type="text" name="hero_biography_2"></h3>
      
      <h2>Hero 3</h2>
      <h3>Hero's Name: <input type="text" name="hero_name_3"></h3>
      <h3>Hero's Power: <input type="text" name="hero_power_3"></h3>
      <h3>Hero's Biography: <input type="text" name="hero_biography_3"></h3>
    </form>
    
  </body>
</html>
